h1 {
    text-align: center;
    margin-top: 20 px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    color:honeydew;
}

.logo {
   text-align: center;
   opacity: 0.6;
}
h2{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:antiquewhite;
}

ul{
    text-align: center;
    list-style:circle;
    list-style-position:inside;
    color:rgb(224, 196, 125);
}

.desc {
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    color:rgb(224, 196, 125);
   
}

.end {
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 30px;
    border-style:double;
}

.checker {
    padding: 20px;
    text-align: center;
 }
