
body {
    text-align: center;
    background-image: linear-gradient(red);
    background-repeat: no-repeat;
    background-size: cover;
    
  
}

header{
    width: 70%;
    height: 70px;
    background-color: #28363f;
    margin-left:15%;    
    opacity: 0.8;
    border-radius: 24px 24px 24px 24px;
}

h1{
    position:absolute;
    padding: 2px;
    float:left;
    margin-left: 2%;
    margin-top: 10px;
    color: #588369;
    font-size: 35px;
}

ul{
    width: auto;
    float: right;
    margin-top: 8px;
    text-align: left;
}

li{
    display:inline-flex;
    padding: 15px 30px;
}



div{
    display: block;
    margin-left: 15%;
    margin-top: 2%;
    

    



  