
body {

    background-color:bisque;
    text-align: center;

}
header{
    width: 70%;
    height: 70px;
    background-color: #282828;
    margin-left:15%;    

}
h1{
    position:absolute;
    padding: 2px;
    float:left;
    margin-left: 2%;
    margin-top: 10px;
    color: #39ca74;
    font-size: 35px;

}
ul{
    width: auto;
    float: right;
    margin-top: 8px;
}
li{
    display:inline-flex;
    padding: 15px 30px;

}
a {
    text-align: center;
    color: #ffffff;
    text-decoration: none;
}
a:hover{
    color: #F0c330;
    transition: 0.5s;
}
img{
    display: block;
    margin-left: 15%;
    margin-top: 2%;
 
   

}




main {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: oblique;
    text-align: center;
}

footer {
    color: rgb(206, 45, 45);
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
