body {
    text-align: center;
    background-color: rgb(70, 70, 70);
}

header{
 
    height: 70px;
    margin-left:15%;    
    
}

figure{
    text-align: center;
}
figcaption{
    color: aliceblue;
}

h1{
    position:absolute;
    margin-top: 15px;
    color: #d9d9d9;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    margin-top: -70px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    float:right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
nav li{
    display: inline-block;
    margin: 0 35px;
    padding-top: 25px;
    margin-left: 10px;
    position: relative;
}
nav a {
    color:rgb(21, 245, 245);
    text-decoration: dashed;
}
nav a:hover {
    color: rgb(87, 160, 209);
}
nav a::before {
    content: '';
    display: block;
    height: 5px;
    width: 0%;
    background-color: lightcyan;
    position:absolute;
    top: 50px;
}
nav a:hover::before {
    width: 100%;
}
footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
footer li{
    display: inline-block;
    margin: 0 35px;
    padding-top: 25px;
    margin-left: 10px;
    position: relative;
    font-size: 20px;
}
footer a {
    color:rgb(21, 245, 245);
    text-decoration: none;
   
}
footer a:hover {
    color: rgb(87, 160, 209);
}

.checker {
   padding: 20px;
}
a {
    color: ghostwhite;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
   }


.container{
    width:400px;
    margin:auto;

}
.container2{
    width:400px;
    margin:auto;
}

gets rid of up down arrow
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}



  