*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}
body {
    font-family: 'Courier New', Courier, monospace;

    background-color:seashell;
}
nav{
    background: #66b1dc;
    height: 80px;
    width:100%;
}
label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
nav ul{
    float:right;
    margin-right:100px;
    font-size: 30px;
    font-weight: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;

}
nav ul li a {
    color: white;
    font-size: 17px;
    text-transform: uppercase;
    font-size: 28px;
}

main{
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    align-items: center;
  
    
 
}

h2 {
    position: relative;
    margin-top: 40px;
    color: seashell;
    -webkit-text-stroke: 0.1vw #5cdd1154;
    text-transform: uppercase;

}

h2::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    color: teal;
    -webkit-text-stroke: 0vw #5cdd1154;
    border-right: 2px solid teal;
    overflow:hidden;
    animation: animate 10s linear infinite;

}
@keyframes animate{
    0%, 10%{
        width: 0;
    }
  30% {
        width: 100%;
    }
}