body{
   font-family: sans-serif;
   margin-top: 40px;
   background-image: linear-gradient(to left, lightblue , lightyellow);

   
}
form{
  padding:  80px;
  display: flex;
  margin-top: 10px;
  
}
