@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Open+Sans&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Alfa Slab One', cursive;
    font-family: 'Open Sans', sans-serif;
}

nav{
    width: 100%;
    height: 75px;
    background-color:rgba(211, 211, 211, 0.295);
    line-height: 75px;
    padding: 0px 100px;
    
    z-index: 1;
}
nav .logo{
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1.5px;
}

nav .logo p{                         
    float: left;
    color:rgb(0, 51, 75)
}
nav ul{
    float:right;
}

nav ul li{
    display:inline-block;
    list-style: none;
}

nav ul li a {
    color:rgba(10, 6, 46, 0.973);
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    padding: 0px 32px;
    font-weight: bold;

   
 
}

nav ul li a:hover{
    color:bisque;
}


.image img {
  
   opacity: 0.7;
   width: 100%;
   height: 100vh;
   background-size: cover;
   background-position: center;
}

.container{
    max-width: 1200px;
    margin: auto;
    overflow: auto;
    
}
.gallery {
    margin: 5px;
    border: 1px;
    float:left;
    width:390px;
}
.galley img{
    width: 100%;
    height: auto;

}
.desc{
    padding: 15px;
    text-align: center;
}


.message
{
    width: 500px;
    background-color: #fff;
    box-shadow: 0 0 20px 0 #999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;

}

form {
    margin: 35px;
}
.input {
    width:400px;
    height: 40px;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #777;
    border-radius: 14px;
    outline: none;
    
}
.text-area{
    height: 150px;
    padding-top: 10px;
}
.bttn
{
    border-radius: 20px;
    color:#fff;
    margin-top: 18px;
    padding: 10px;
    background-color:blue;
    font-size: 12px;
    border: none;
    cursor: pointer;
}

.quote {

    
    text-align: center;
    width:600px;
    margin: auto;
    overflow: auto;
   
    margin-top: 15%;
    width:390px;


}